<h1><%="Hola"%></h1>
	
 <% 50.times do |x| %>
 <%  if (x+1).even? %>
 <% par = (x+1).to_s + " " + "Soy Par!" %>
 <p><%= par %></p>
 <%  else  %>
 <% impar = (x+1).to_s + " " + "Soy Impar!" %>
 <p><%= impar %></p>
 <%  end 	%>
<% end %>

<%=  %></p>
<p><%=  %></p>
<p><%=  %></p>
<p><%=  %></p>

